# Ignore everything by default
*

# But do NOT ignore this folder:
!backend/
!backend/**

# Always ignore these no matter what
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# Build files
dist/
build/

/backend/*.yml